/* Prevent Textarea resizing */
textarea {
  resize: none;
}

/* Message Styling */
span.username {
  float: right;
  color: rgba(100, 100, 100, 0.5);
}

li.message:nth-child(even) {
  background: #E2E2E2;
}

/* User List Styling */
.type-interior .content-secondary {
  position: fixed !important;
}

/* Logo */
.logo {
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  color: #C70320;
}

.logo h3 {
  text-shadow: 0px -1px #AAA;
  margin-bottom: 20px;
}

/* Button Styling Override */
.ui-btn-corner-all {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}

/* Header Styling Override */
.ui-bar-a {
  border: 1px solid #C70320;
  background: #C70320;
}

/* Home Page */
[data-role="page"] {
  background-image: -webkit-linear-gradient(top, rgba(250,250,250, 0.7) 0%, rgba(250,250,250,0) 100%), url(../img/pw_pattern.png);
}

.type-home .ui-content {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.type-interior .ui-content {
  min-height: 100%;
}

p.intro {
  font-size: .96em;
  line-height: 1.3;
  border-top: 1px solid #75ae18;
  border-bottom: 0;
  background: none;
  margin: 1.5em 0;
  padding: 1.5em 15px 0;
}
p.intro strong {
  color:  #558e08;
}

.type-interior .content-secondary {
  border-right: 0;
  border-left: 0;
  margin: 10px -15px 0;
  background: #EEE !important;
  border-top: 1px solid #ccc;
  height: 100%;
}
.type-home .ui-content {
  /*margin-top: 5px;
  overflow: hidden;
  position: relative;*/
}
.type-interior .ui-content {
  padding-bottom: 0;
}
.content-secondary .ui-collapsible {
  padding: 10px 15px;
}
.content-secondary .ui-collapsible-inset {
  margin: 0;
}
.content-secondary .ui-collapsible-content {
  padding: 0;
  background: none;
}
.content-secondary .ui-listview {
  margin: 0;
}

.type-interior .ui-content {
  padding: 0;
}

.content-primary .ui-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.content-primary .ui-footer textarea {
  margin: 5px auto;
  width: 97%;
}

.content-primary .ui-footer .ui-grid-a {
  width: 100%;
}

.type-interior .content-primary ul:first-child {
  margin: 0;
  margin-bottom: 109px;
}

.type-interior .content-secondary {
  display: none;
}

/* docs site layout */

/* Small Screen Device */
@media all and (min-width: 650px) {
  .type-interior .content-secondary {
    display: block;
  }

  /*.type-home .ui-content {
    margin-top: 5px;
  }*/
  .ui-mobile #jqm-homeheader {
    max-width: 340px;
  }
  p.intro {
    margin: 2em 0;
  }
  .type-interior > .ui-content {
    padding: 0;
  }
  .type-interior {
    /*height: 100%;*/
  }
  .type-interior > .ui-content {
    /*height: 100%;*/
  }
  .content-secondary {
    text-align: left;
    float: left;
    width: 40%;
  }
  .content-secondary,
  .type-interior .content-secondary {
    margin: 30px 0 20px 2%;
    padding: 20px 4% 0 0;
    background: none;
    border-top: none;
    position: relative;
  }
  .type-interior .content-secondary::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 1px;
    width: 1px;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    background: #bbb;
  }
  .type-index .content-secondary {
    padding: 0;
  }
  .content-secondary .ui-collapsible {
    margin: 0;
    padding: 0;
  }
  .content-secondary .ui-collapsible-content {
    border-left: none;
    border-right: none;
  }
  .type-index .content-secondary .ui-listview {
    margin: 0;
  }
  .ui-mobile #jqm-homeheader {
    padding: 0;
  }
  .content-primary {
    width: 60%;
    float: right;
    margin: 0;
    padding: 0;
  }
  /* collapsible non-inset example */
  .content-primary .ui-collapsible-content ul:first-child {
    margin-top: -10px;
  }
  .content-secondary h2 {
    position: absolute;
    left: -9999px;
  }
  .type-interior .content-primary {
    /*padding: 1.5em 6% 3em 0;*/
    margin: 0;
  }
  /* fix up the collapsibles - expanded on desktop */
  .content-secondary .ui-collapsible-inset {
    margin-bottom: -1px;
  }
  .content-secondary .ui-collapsible-heading {
    display: none;
  }
  .content-secondary .ui-collapsible-contain {
    margin:0;
  }
  .content-secondary .ui-collapsible-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .content-secondary .ui-collapsible-content,
  .content-secondary .ui-collapsible-content > .ui-listview .ui-li-last {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .type-interior  .content-secondary .ui-li-divider {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .type-interior .content-secondary {
    margin: 0;
    padding: 0;
  }
  .type-interior .content-primary .ui-footer {
    width: 60%;
  }
}

/* Tablet Screen */
@media all and (min-width: 750px) {
  .type-chat-list .ui-content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .type-home .ui-content {
    background-position: 39%;
  }
  .content-secondary {
    width: 34%;
  }
  .content-primary {
    width: 66%;
    padding: 0;
    margin: 0;
  }

  .type-interior .content-primary .ui-footer {
    width: 66%;
  }
}

/* Widescreen Desktop */
@media all and (min-width: 1200px){
  .type-home .ui-content{
    background-position: 38.5%;
  }
  .content-secondary {
    width: 30%;
    /*padding-right:6%;
    margin: 30px 0 20px 5%;*/
  }
  .type-interior .content-secondary {
    margin: 0;
    padding: 0;
  }
  .content-primary {
    width: 70%;
    /*margin-right: 5%;
    padding-right: 3%;*/
  }
  .type-interior .content-primary {
    width: 70%;
  }
  .type-interior .content-primary .ui-footer {
    width: 70%;
  }
}

/* reset for popup examples */
.type-interior .ui-popup.ui-content,
.type-interior .ui-popup .ui-content {
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: visible;
}

/* tables documenting enum-type settings */
.enum-value {
  vertical-align: top;
  white-space: nowrap;
}

/* Navbar examples */
.content-primary > .ui-header,
.content-primary > .ui-footer {
  overflow: hidden;
}

/* list styles */
ul { margin:0; padding-left:0; }
ul li { list-style:none; padding:.7em 0; margin:0; border-bottom:1px solid #e3e3e3; }
ul ul li { border: none;}

dl dd ul { padding-left: 40px; }
dl dd ul li { list-style: disc; }
dl dd ul li li { list-style: circle; }
dl dd ul li li li { list-style: square; }
dl dd ul li { border: none; }

.ui-mobile-viewport .localnav li {
  border: none; 
}
